<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

</head>
<body>
	<div>
		<table class="table">
			<tr>
				<table class="table">
					<tr>
						<td>2016/07/01 20:36:21</td>
						<td>cutemiex:太阳</td>
						<td>指定号码发送</td>
						<td>审核中</td>
					</tr>
					<tr>
						<td colspan="4">
							【淘宝】亲爱的#BUYER_NICK#，好久不见，小店商品清沧特卖 ，几日几点疯抢，超低折扣再满多少减多少，上不封顶，不见不散哦。
						</td>
					</tr>
					<tr>
						<div class="operations">
							<a class="btn-operation" ng-click="passAudit(item)">通过</a> <i>|</i>
							<a class="btn-operation" ng-click="rejectAudit(item)">拒绝</a> <i>|</i>
							<a class="btn-operation" ng-click="modifySmsAudit(item)">修改</a>
						</div>
					</tr>
				</table>
			</tr>
		</table>
	</div>
</body>
</html>