<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div background-img="http://img.alicdn.com/imgextra/i3/78622573/TB2fYYJspXXXXbGXXXXXXXXXXXX_!!78622573.jpg" style="float: left; background-position:top left; background-repeat:no-repeat; height: 60px;width: 40px;">不显示</div>

    <div img-sign="background" style="background:url( http://img.alicdn.com/imgextra/i3/78622573/TB2fYYJspXXXXbGXXXXXXXXXXXX_!!78622573.jpg); float: left; background-position:top left; background-repeat:no-repeat; height: 60px;width: 40px;">显示</div>

    <table>
        <tr>
            <td background="http://img.alicdn.com/imgextra/i3/78622573/TB2fYYJspXXXXbGXXXXXXXXXXXX_!!78622573.jpg" style="float: left; background-position:top left; background-repeat:no-repeat; height: 60px;width: 40px;">显示</td>

            <td img-sign="background" style="background:url( http://img.alicdn.com/imgextra/i3/78622573/TB2fYYJspXXXXbGXXXXXXXXXXXX_!!78622573.jpg); float: left; background-position:top left; background-repeat:no-repeat; height: 60px;width: 40px;">显示</td>
        </tr>
    </table>
</body>
</html>