<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<script src="plugins/jQuery/jquery.js"></script>
	<script src="plugins/jquery.form.min.js"></script>
</head>
<body>
	<div>
		<form id="ajaxForm" method="post" action="/Home/Index" enctype="multipart/form-data">
			<input type="text" name="name" />
			<input type="text" name="sex" />
			<input type="file" name="file" />
			<button type="submit" id="btnSubmit">提交1</button>
		</form>
		<button id="btnButton" type="button">提交2</button>
		<button id="downloade">下载</button>
	</div>
	<script type="text/javascript">
        $(function () {
            $("#ajaxForm").ajaxForm(function () {
                alert("提交成功1");
            });
            $("#ajaxForm").submit(function () {
                $(this).ajaxSubmit(function () {
                    alert("提交成功1");
                });
                return false;
            });
            $("#btnButton").click(function () {
                $("#ajaxForm").ajaxSubmit(function () {
                    alert("提交成功2");
                });
                return false;
            });

            //    下载
	        $("#downloade").click(function (ele, strUrl) {
	            var form = $("<form>");   //定义一个form表单
	            form.attr('style', 'display:none');   //在form表单中添加查询参数
	            form.attr('target', '');
	            form.attr('method', 'get');
	            form.attr('action', "http://yx.cuxiao.imaijia.com/seller/exportTemplate/blackMember");

	            var input1 = $('<input>');
	            input1.attr('type', 'hidden');
	            $('body').append(form);  //将表单放置在web中
	            form.append(input1);   //将查询参数控件提交到表单上
	            form.submit();
	        });
        });
    </script>
</body>
</html>